<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>528555428348-q30b8vrouchghjvqt2ejfasi0gig45o2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.528555428348-q30b8vrouchghjvqt2ejfasi0gig45o2</string>
	<key>API_KEY</key>
	<string>AIzaSyCXYGCY129-drXjyixoodMKR27IZvJpDIA</string>
	<key>GCM_SENDER_ID</key>
	<string>528555428348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>evgeiniypavlyukov.Cooking-time</string>
	<key>PROJECT_ID</key>
	<string>cookingtime-b8b30</string>
	<key>STORAGE_BUCKET</key>
	<string>cookingtime-b8b30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528555428348:ios:667431104530636ea50a79</string>
</dict>
</plist>